/*ベース設定*/
html {
  font-size: 30px;
  font-family: "Meiryo", "メイリオ", "Yu Gothic UI", "游ゴシック体", sans-serif;
  
  line-height: 1.8;
  background: #fffaf0;
}

/*タイトルを真ん中にもってきて、大きさ変える*/
.title {
  text-align: center;
  margin-bottom: 20px;
}

.title img {
  width: 800px;
  height: auto;

}

/*インデックスのサブタイトルの位置設定*/
.gazotachi {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.subtitle {
  text-align: center;
}


.subtitle img {
  width: 600px;
  height: auto;
}


/*インデックスの柴犬のメイン画像の設定*/
.doggy img {
  width: 600px;
  height: auto;
}

.doggy {
  text-align: center;
  padding-top: 200px;
  padding-right: 150px;
}

/*ほかのページのサブタイトルの位置と大きさ*/
.title2 {
  text-align: center;
}

.title2 img {
  width: 800px;
  height: auto;

}

/*それぞれのページの説明文は全部中央寄せに*/
.setumei {
  text-align: center;

}
/*説明の時に使う画像も全部中央寄せに*/
.setumei img {
  width: 800px;
  height: auto;
}
/*フッダー全ぺージ中央寄せに*/
.footer {
  text-align: center;

}
/*戻るボタン、インデックス以外の調整*/
.hover {
  text-align: center;
  padding-top: 80px;

}
/*作者のページも中央寄せ*/
.sakusya {
  text-align: center;

}
/*作者のページのサブタイトルの大きさ*/
.sakusya img {
  width: 500px;
  height: auto;

}
/*インデックスの作者のサブタイトルは小さめにして上と間隔空ける 中央寄せで*/
.sakusyanotop img {
  width: 400px;
  height: auto;
  padding-top: 150px;
  
}

.sakusyanotop {
  text-align: center;

}


.hover-image img:hover {
  content: url('images/dorobo.png');
  width: 600px;
  height: auto;
 
}



/*インデックスの戻るボタン、調整した*/
.hovertop {
  text-align: center;


}

.hover-image img {
 
  transition: opacity 0.3s ease;

}
.back-button {
  display: inline-block; /* ← これが重要 */
  width: 200px;
  height: 200px;
  background-image: url('images/hover1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 0 auto; /* センター寄せ */
}
.hovertop {
  text-align: center;
}